<!-- {% extends "base.html"%}
{% block content %}

<h1>Login</h1>

{% if form.errors %}
    <p style="color: red;">Incorrect username or password</p>
{% endif%}

<form method="post">
    {% csrf_token%}

    <label>Username:</label>
    <input type="text" name="username" required>
    <br><br>

    <label>Password:</label>
    <input type="text" name="password" required>
    <br><br>

    <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Login</button>
    </div>

    <input type="hidden" name="text" value="{{ next }}">

</form>



{% endblock %} -->