{% extends "base.html"%}
{% load static %}
{% block content %}


<div class="wrapper_login">
        <div class="login_container">
        <form method="post">
            {% csrf_token%}
    
            <div class="text-center mb-4">
                <h1>Login</h1>
                
            </div>

            {% if form.errors%}
                <div class="alert alert-danger" role="alert">
                    Incorrect username or password
                </div>

            {% endif %}
            
            <div class="input_group">
                <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="username" placeholder="Username" required>
                </div>

                <div class="mb-3">
                    <input class="form-control form-control-lg" type="password" name="password" placeholder="Password" required>
                </div>    
            </div>
           

            <div class="text-center mt-4">
                <button type="submit" class="btn home_button btn-lg me-5">Login</button>
            </div>

            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>



{% endblock %}