.class_h1 {
    font-weight: bold;
    color:black;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.class_infaa {
    color: black;
    font-size: 3.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-left: 850px;
    margin-top: -450px;

}