label {
    color: rgb(33, 33, 184);
    font-size: 2.5rem !important;
}

a.btn, button {
    font-size: 3rem !important;
    margin-bottom: 1rem !important;
}

table {
    font-size: 3rem;
    background-color: rgb(101, 101, 255);
    color: white;
}

.input_margin {
    display: flex;
    margin-bottom: 50px;
}