{% extends "base.html" %}
{% load static %}
{% block content %}

{% for room_type, rooms in rooms_by_type.items %}
    <h1 style="display: flex; justify-content: center;  font-size: xx-large; font-weight: bold;">{{room_type}}</h1>
    <div class="rooms-container">
    {% for room in rooms %}
    
        <div class="card room-card">
            <a href="{% url 'room_details' room.id %}">
            <img src="{% static 'img/room_image.jpg' %}" class="card-img-top" alt="Room_list">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{room.type}}</h5>
                <h6 class="card-text">{{room.locations}}</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{room.price}}$ per day</li>
            </ul>
        </div>
    
    {% endfor %}
    </div>


{% endfor %}


{% endblock %}