{% extends "base.html" %}
{% block content %}

<div class="wrapper_login">
    <div class="login_container form_container">
    <form method="POST" action="{% url 'book_room' room.id%}" class="form-group">
        {% csrf_token %} 
        <div class="forms_grid">

        <div class="mb-3">
            <label for="room_number" class="form-label">First name</label>
            <input 
                class="form-control form-control-lg"
                type="text"
                id="first_name" 
                name="first_name" 
                value="{{user.first_name}}">
        </div>

        <div class="mb-3">
            <label for="room_number" class="form-label">Last name</label>
            <input 
                class="form-control form-control-lg"
                type="text"
                id="last_name" 
                name="last_name" 
                value="{{user.last_name}}">
        </div>
        
        <div class="mb-3">
            <label for="start_time" class="form-label">Start time</label>
            <input 
            class="form-control form-control-lg"
            type="datetime-local"
            id="start_time"
            name="start_time"
            required>
        </div>
        
        <div class="mb-3">
            <label for="end_time" class="form-label">End time</label>
            <input 
            class="form-control form-control-lg" 
            type="datetime-local" 
            id="end_time" 
            name="end_time" 
            required>
        </div>
        
        <div class="button-wrapper">
            <button type="submit" class="btn form-submit-button btn-lg">Accept</button>  
        </div>

        {% if messages %}
            <div class="alert alert-danger mt-3">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        </div>
    </form>
    </div>
</div>
{% endblock %}