{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 class="class_h1">{{room_infa.locations}}</h1>

    <div style="display: flex;flex-direction: column;  gap: 10px; margin-top: 68px;  margin-left: 20px;">
        
        
            <img src="{% static 'img/room_image.jpg' %}"
            alt="Profile"
            style="width: 808px; height: 458px; "
            
            >

        
    </div>

    <div class="class_infaa">
        <p>Room: {{room_infa.number}}</p>
        <p>Capacity: {{room_infa.capacity}}</p>
    </div>

    <div style="display: flex;flex-direction: column; margin-top: 68px;  margin-left: 800px;">
        <a href="{% url 'book_room' room_infa.id %}" class="btn home_button btn-lg me-5">Booking</a>
    </div>



{% endblock %}