{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="rooms-container">
    {% for room in rooms %}
    <div class="card room-card">
        <img src="{% static 'img/room_image.jpg' %}" class="card-img-top" alt="Room_list">
        <div class="card-body">
            <h5 class="card-title">{{room.type}}</h5>
            <h6 class="card-text">{{room.locations}}</h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{room.price}}$ per day</li>
        </ul>
    </div>
    {% endfor %}
</div>

{% endblock %}