<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
<header>
    <h1>Booking-system.com</h1>
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}" class="logout-btn" style="text-decoration: none;">Login</a>
    {% endif %}
</header>
    <main>
        {% block content %}{% endblock %}
    </main>
    
</body>
</html>